@charset "utf-8";
/* CSS Document */

body {
	background-image:url(bckgrnd.png);
	background-position:center;
	background-size: 2000px;
}

.audioCenter{
	margin: 10px auto; 
	width: 560px; margin-top:-25px; margin-bottom:-20px;
	}

.heading {
	text-align:center;
	margin-right:auto;
	margin-left:auto;
	width:20em;
	font-family:Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
}

.label {
	text-align:center;
	margin-right:auto;
	margin-left:auto;
	width:10em;
	font-family:Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	font-size:25px;
}
	