@charset "utf-8";
/* CSS Document */

body {
	background-image:url(bckgrnd.gif);
	background-position:center;
	background-size: 2000px;
}

.audioCenter{
	margin: 10px auto; 
	width: 400px; margin-top:-25px; margin-bottom:-20px;
	}

.heading {
	text-align:center;
	margin-right:auto;
	margin-left:auto;
	margin-top:30px;
	width:500px;
	font-family:Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
}

.label {
	text-align:center;
	margin-right:auto;
	margin-left:auto;
	width:10em;
	font-family:Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	font-size:25px;
}
.center_contaner{
	margin-right:auto;
	margin-left:auto;
	width:500px;
	height:1000px;
	margin-top:-30px;
	margin-bottom:-50px;
	background-color:#FFFFFF;
	box-shadow:0px 0px 10px #535353;
}
	
	